<div class="container mt-1">
  <form
    class="right"
    action="/contacts/<%= contact.id %>?_method=DELETE"
    method="POST"
  >
    <button class="btn btn-danger"><i class="fas fa-trash"></i> Delete</button>
  </form>
  <div>
    <h3><%= contact.firstName %> <%= contact.lastName %></h3>
    <p>
      <i class="fas fa-envelope"></i> Email: <%= contact.email %>
      <br />
      <i class="fas fa-phone"></i> Contact number: <%= contact.contactNumber %>
    </p>
  </div>
</div>
<div class="container">
  <p>
    <a class="btn btn-secondary" href="/contacts"
      ><i class="fas fa-arrow-left"></i> Back</a
    >
    <a class="btn" href="/contacts/<%= contact.id %>/edit"
      ><i class="fas fa-edit"></i> Edit</a
    >
  </p>
</div>
